html {
  font-family: sans-serif;
}

:root {
  --primary: #009CDB;
  --admin: #EA3F47;
  --visitor: #00C968;
  --manager: #D36838;
  --staff: #00C9B7;
}

button {
  border: none;
  background: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}